# Imports

In [1]:
# Imports
import numpy as np
import pandas as pd
import json

# Load the Data

In [2]:
# Load the vessels data
with open('../lcp_data/vessels.json') as file:
    df = pd.DataFrame(json.load(file))
df.head(20)

,id,category,chron,uid,site,site_ref,ware_id,created_at,updated_at,inventory_number,...,diameter_base,estimated_diameter_base,true_diameter_base,slug,acknowledgement,site_id,functional_category_id,old_shape_name,has_petrography,discarded_at
0,7,Pot Pot Pot,5th-4th centuries BCE,LCP-KFNUW,"{'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...",None,21.0,2012-09-17T20:25:44.756Z,2022-06-06T06:48:23.688Z,Mizpe Yammim 19/165,...,estimated,11.0,None,mizpe-yammim-19-165,,1154.0,8.0,Juglet,False,None
1,8,Pot,5th-4th century BCE,LCP-VBTDB,"{'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...",None,21.0,2012-09-17T20:30:46.389Z,2018-05-22T07:42:14.334Z,Mizpe Yammim 22/452,...,None,0.0,0.0,mizpe-yammim-22-452,,1154.0,8.0,Juglet,False,None
2,9,Pot,5th-4th century BCE,LCP-SBBGA,"{'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...",None,21.0,2012-09-17T20:32:02.507Z,2018-03-17T14:10:18.616Z,Mizpe Yammim 8/398,...,None,0.0,0.0,mizpe-yammim-8-398,,1154.0,8.0,Juglet,False,None
3,10,Pot,3rd-mid-2nd c. BCE,LCP-EAWCN,"{'id': 1525, 'name': 'Qedesh', 'chron': None, ...",None,28.0,2012-09-17T20:53:53.147Z,2021-12-06T11:10:42.903Z,Qedesh K00P168,...,None,0.0,0.0,qedesh-k00p168,,1525.0,1.0,Cooking pot,False,None
4,11,Pot,2nd c. BCE,LCP-SUNLQ,"{'id': 1525, 'name': 'Qedesh', 'chron': None, ...",None,28.0,2012-09-17T20:54:45.445Z,2022-07-15T21:45:23.124Z,Qedesh K00P058,...,None,0.0,0.0,qedesh-k00p058,,1525.0,1.0,Casserole/caccabé,False,None
5,14,Pot,1200BCE - 1150BCE,LCP-USWLF,"{'id': 1243, 'name': 'Tel Miqne/Ekron', 'chron...",None,29.0,2012-09-17T21:07:57.254Z,2016-03-15T17:46:30.643Z,Miqne INE.4.392/1,...,None,0.0,0.0,miqne-ine-4-392-1,None,1243.0,10.0,"Bowl, large",False,None
6,16,Pot,300 BCE - 150 BCE,LCP-SPESO,"{'id': 1525, 'name': 'Qedesh', 'chron': None, ...",None,494.0,2012-09-17T21:16:02.498Z,2020-03-15T18:05:52.499Z,Qedesh K09P046,...,true,None,5.1,qedesh-k09p046,,1525.0,2.0,Saucer,False,None
7,17,Pot,200 BCE - 140 BCE,LCP-PFGSF,"{'id': 1525, 'name': 'Qedesh', 'chron': None, ...",None,127.0,2012-09-17T21:17:15.643Z,2020-03-14T20:17:34.857Z,Qedesh K00P157,...,true,None,7.8,qedesh-k00p157,,1525.0,2.0,Plate,False,None
8,18,Pot,5th-4th c. BCE,LCP-SQPVL,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,155.0,2012-09-17T21:24:44.936Z,2021-07-25T13:20:02.782Z,Tel Anafa PW 49/TA79P49,...,None,0.0,0.0,tel-anafa-pw-49-ta79p49,,1178.0,8.0,Juglet,False,None
9,19,Pot Pot,5th-4th century BCE,LCP-BCHMS,"{'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...",None,74.0,2012-09-17T21:26:15.697Z,2018-03-17T13:52:38.793Z,Mizpe Yammim 15/362,...,None,0.0,0.0,mizpe-yammim-15-362,,1154.0,8.0,Juglet,False,None
10,20,Pot,1800 BCE - 1650 BCE,LCP-EXHKS,"{'id': 1256, 'name': 'Tell es-Safi/Gath', 'chr...",None,32.0,2012-09-17T21:30:46.361Z,2018-05-13T09:10:35.623Z,Safi 968052,...,None,0.0,0.0,safi-968052,,1256.0,10.0,Jar,False,None
11,21,Pot,1800 BCE - 1650 BCE,LCP-BPNRF,"{'id': 1253, 'name': 'Tel Nagila', 'chron': No...",None,32.0,2012-09-17T21:31:30.728Z,2015-10-26T17:23:02.363Z,Pending2,...,None,0.0,0.0,pending2,None,1253.0,10.0,Jar,False,None
12,22,Pot,Middle Bronze Age IIA-IIB,LCP-NTYOG,"{'id': 1259, 'name': 'Yavneh Yam', 'chron': No...",None,32.0,2012-09-17T21:32:19.962Z,2015-10-19T20:34:01.088Z,Pending3,...,None,0.0,0.0,pending3,None,1259.0,10.0,Jar,False,None
13,23,Pot,late 2nd c. BCE,LCP-HTPPC,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,21.0,2012-09-19T17:15:46.827Z,2021-07-25T13:20:14.102Z,Tel Anafa PW 38/TA69P97,...,None,0.0,0.0,tel-anafa-pw-38-ta69p97,,1178.0,2.0,Jug,False,None
14,24,Pot,late 2nd c. BCE,LCP-QUEYS,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,21.0,2012-09-19T17:17:52.780Z,2021-07-25T13:20:39.216Z,Tel Anafa PW 1/TA68P25,...,None,0.0,0.0,tel-anafa-pw-1-ta68p25,,1178.0,2.0,Table Amphora,False,None
15,25,Pot,late 2nd c. BCE,LCP-RLFWU,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,21.0,2012-09-19T17:19:44.111Z,2021-07-25T13:20:25.829Z,Tel Anafa PW 24/TA68P202,...,None,0.0,0.0,tel-anafa-pw-24-ta68p202,,1178.0,2.0,Lagynos,False,None
16,26,Pot,2nd century BCE,LCP-MRVXU,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,21.0,2012-09-19T17:21:45.944Z,2021-07-25T13:19:24.576Z,Tel Anafa PW 96/TA69P84,...,None,0.0,0.0,tel-anafa-pw-96-ta69p84,,1178.0,8.0,Unguentarium,False,None
17,27,Pot,c. 125 BCE - 75 BCE,LCP-FUVLR,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,21.0,2012-09-19T17:23:11.918Z,2021-07-25T13:19:34.182Z,Tel Anafa PW 70/TA68P19,...,None,0.0,0.0,tel-anafa-pw-70-ta68p19,,1178.0,7.0,Amphoriskos,False,None
18,28,Pot,1099 CE - 1291 CE,LCP-DLJQO,"{'id': 1224, 'name': ''Akko/Acre', 'chron': No...",None,37.0,2012-09-20T15:37:25.018Z,2020-03-25T18:51:00.435Z,'Akko HC 160498/3,...,None,0.0,0.0,akko-hc-160498-3,,1224.0,1.0,Bowl,False,None
19,29,Pot,1099 CE - 1291 CE,LCP-TBQQP,"{'id': 1224, 'name': ''Akko/Acre', 'chron': No...",None,37.0,2012-09-20T15:39:40.310Z,2020-03-25T18:50:19.865Z,'Akko HC 120551/1,...,None,0.0,0.0,akko-hc-120551-1,,1224.0,1.0,Bowl,False,None

# Data Cleaning

In [3]:
# Call info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16717 entries, 0 to 16716
Data columns (total 52 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       16717 non-null  int64
 1   category                 560 non-null    object
 2   chron                    13837 non-null  object
 3   uid                      560 non-null    object
 4   site                     16699 non-null  object
 5   site_ref                 0 non-null      object
 6   ware_id                  9303 non-null   float64
 7   created_at               16717 non-null  object
 8   updated_at               16717 non-null  object
 9   inventory_number         16717 non-null  object
 10  shape_id                 15638 non-null  float64
 11  funct_cat                7631 non-null   object
 12  shape_sub_group          13389 non-null  object
 13  shape_rtype              13391 non-null  object
 14  shape_sub_type           560 non-null    object
 15  user_id                  16666 non-null  float64
 16  old_region_id            255 non-null    float64
 17  pub_ref                  560 non-null    object
 18  color                    13911 non-null  object
 19  firing                   13548 non-null  object
 20  surface_treatment        13919 non-null  object
 21  manu_tech                16717 non-null  object
 22  arch_context             13990 non-null  object
 23  privacy_status           16717 non-null  int64
 24  site_type                13999 non-null  object
 25  period                   8390 non-null   object
 26  ware_visual_desc         96 non-null     object
 27  petrofab_visual_desc     9376 non-null   object
 28  petrofabric_id           5073 non-null   float64
 29  start_year               10728 non-null  float64
 30  end_year                 10728 non-null  float64
 31  references_data          5573 non-null   object
 32  thickness                16706 non-null  object
 33  height                   3882 non-null   object
 34  preserved_height         15598 non-null  object
 35  true_height              13933 non-null  object
 36  diameter_rim             4388 non-null   object
 37  estimated_diameter_rim   13233 non-null  object
 38  true_diameter_rim        15786 non-null  object
 39  max_diameter             9553 non-null   object
 40  estimated_max_diameter   16626 non-null  object
 41  true_max_diameter        16591 non-null  object
 42  diameter_base            1289 non-null   object
 43  estimated_diameter_base  15588 non-null  object
 44  true_diameter_base       16546 non-null  object
 45  slug                     16717 non-null  object
 46  acknowledgement          11910 non-null  object
 47  site_id                  16699 non-null  float64
 48  functional_category_id   13138 non-null  float64
 49  old_shape_name           8034 non-null   object
 50  has_petrography          16717 non-null  bool
 51  discarded_at             0 non-null      object
dtypes: bool(1), float64(9), int64(2), object(40)
memory usage: 6.5+ MB

In [4]:
# Look for nearly empty columns
filter = (df.isna().sum() / df.shape[0] > 0.95)
cols = df.loc[:, filter.values].columns
df.drop(columns = cols, inplace = True)

In [5]:
# We won't use any ids for modelling.
df.drop(columns = ['ware_id', 
                   'shape_id', 
                   'user_id',
                   'petrofabric_id',
                   'site_id',
                   'functional_category_id'],
        inplace = True)

In [6]:
# Remove some more columns unneccesary for modeling.
df.drop(columns = ['created_at',
                   'updated_at',
                   'inventory_number'],
        inplace = True)

## Label cleaning

In [7]:
# Make a list of columns we decide to drop after closer inspection
cols_to_drop = []

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16717 entries, 0 to 16716
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       16717 non-null  int64
 1   chron                    13837 non-null  object
 2   site                     16699 non-null  object
 3   funct_cat                7631 non-null   object
 4   shape_sub_group          13389 non-null  object
 5   shape_rtype              13391 non-null  object
 6   color                    13911 non-null  object
 7   firing                   13548 non-null  object
 8   surface_treatment        13919 non-null  object
 9   manu_tech                16717 non-null  object
 10  arch_context             13990 non-null  object
 11  privacy_status           16717 non-null  int64
 12  site_type                13999 non-null  object
 13  period                   8390 non-null   object
 14  petrofab_visual_desc     9376 non-null   object
 15  start_year               10728 non-null  float64
 16  end_year                 10728 non-null  float64
 17  references_data          5573 non-null   object
 18  thickness                16706 non-null  object
 19  height                   3882 non-null   object
 20  preserved_height         15598 non-null  object
 21  true_height              13933 non-null  object
 22  diameter_rim             4388 non-null   object
 23  estimated_diameter_rim   13233 non-null  object
 24  true_diameter_rim        15786 non-null  object
 25  max_diameter             9553 non-null   object
 26  estimated_max_diameter   16626 non-null  object
 27  true_max_diameter        16591 non-null  object
 28  diameter_base            1289 non-null   object
 29  estimated_diameter_base  15588 non-null  object
 30  true_diameter_base       16546 non-null  object
 31  slug                     16717 non-null  object
 32  acknowledgement          11910 non-null  object
 33  old_shape_name           8034 non-null   object
 34  has_petrography          16717 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(30)
memory usage: 4.4+ MB

### Clean the 'funct_cat' column

In [9]:
# Clean the 'funct_cat' column.
df['funct_cat'].value_counts()

                                    1655
Dining/Drinking/Serving             1630
Household/Utility                   1521
Transport/Storage                   1005
Cooking/Kitchen                      727
Household/Storage                    485
Table ware                            83
Lighting                              83
Food production                       80
Cosmetic/Toilette/Medicine            67
Smoking                               48
Cooking/Kitchen, Food production      46
Cooking                               39
Dining/Serving                        31
Ceramic Production                    23
Agriculture                           13
Transport, storage                     9
Food production/service                9
cooking wares                          8
food/drink service                     8
sugar production                       7
Transport/Stroage                      7
Burial                                 5
food service                           5
 Cooking                               4
Ritual                                 3
drinking vessel                        3
Building material                      3
Tableware                              2
cooking                                2
Table                                  2
brick                                  2
lamp                                   2
Water jug                              2
perfume vessels                        1
table ware                             1
Fine ware                              1
Waster                                 1
Figurine                               1
to drink                               1
Container                              1
lighting                               1
 cooking                               1
Ritual, Toy                            1
 food/drink service                    1
Miniature                              1
Name: funct_cat, dtype: int64

In [10]:
df['funct_cat'].replace({'Household/Storage': 'Household/Utility',
                         'Table ware': 'Dining/Drinking/Serving',
                         'Food production': 'Cooking/Kitchen',
                         'Cooking/Kitchen, Food production': 'Cooking/Kitchen',
                         'Cooking': 'Cooking/Kitchen',
                         'Transport, storage': 'Transport/Storage',
                         'Dining/Serving': 'Dining/Drinking/Serving',
                         'Food production/service': 'Cooking/Kitchen',
                         'food/drink service': 'Dining/Drinking/Serving',
                         'cooking wares': 'Cooking/Kitchen',
                         'food service': 'Dining/Drinking/Service',
                         ' Cooking': 'Cooking/Kitchen',
                         'sugar production': 'Cooking/Kitchen',
                         'drinking vessel': 'Dining/Drinking/Serving',
                         ' food/drink service': 'Dining/Drinking/Serving',
                         ' cooking': 'Cooking/Kitchen',
                         'to drink': 'Dining/Drinking/Serving',
                         'cooking': 'Cooking/Kitchen',
                         'Water jug': 'Dining/Drinking/Serving',
                         'Waster': 'Dining/Drinking/Serving',
                         'Dining/Drinking/Service': 'Dining/Drinking/Serving',
                         'Table': 'Household/Utility',
                         'Tableware': 'Household/Utility',
                         'Fine ware': 'Household/Utility',
                         'table ware': 'Household/Utility',
                         'brick': 'Building material',
                         'Container': 'Storage',
                         'perfume vessels': 'Cosmetic/Toilette/Medicine',
                         'Transport/Stroage': 'Transport/Storage',
                         'Lighting': 'Household/Utility',
                         'lamp': 'Household/Utility',
                         'lighting': 'Household/Utility',
                         'Storage': 'Household/Utility'}).value_counts()

Household/Utility             2097
Dining/Drinking/Serving       1760
                              1655
Transport/Storage             1021
Cooking/Kitchen                923
Cosmetic/Toilette/Medicine      68
Smoking                         48
Ceramic Production              23
Agriculture                     13
Burial                           5
Building material                5
Dining/Drinking/Service          5
Ritual                           3
Ritual, Toy                      1
lighting                         1
Storage                          1
Figurine                         1
Miniature                        1
Name: funct_cat, dtype: int64

> There is still work to be done on this feature. I'm having issues dealing with some of the remaining labels. For example, I'm not able to change the label 'Dining/Drinking/Service.' Not sure why.

### Clean the shape_sub_group column

In [11]:
# Get the labels
df['shape_sub_group'].value_counts().head(30)

                                                             12501
Marine Transport Containers                                    187
Milkbowl                                                        18
Black polished bowl with graffito                               14
Bowl                                                            13
tableware                                                       12
Beirut 3                                                        11
Low-necked jar                                                  10
Gray wide-mouthed storage jar                                    9
Thickened rim saucer                                             8
Phoenician Amphora                                               8
cooking-pot                                                      6
Jar                                                              5
Base of black polished bowl with graffito                        5
Black polished bowl                                              5
amphora without neck                                             5
closed vessel                                                    5
Everted rim                                                      5
 cooking                                                         4
bowl                                                             4
cooking                                                          4
incurved rim bowl                                                4
cooking                                                          4
Galilean                                                         4
Late Roman amphora 4                                             4
Local banded lydion                                              4
Late Roman Amphora 5                                             4
Late Roman Amphora 4                                             4
Cooking pot                                                      4
Black polished side-spouted sieve jug with diamond facets        3
Name: shape_sub_group, dtype: int64

> Probably not worth using this feature for modeling.

In [12]:
# Add shape_sub_group to the list of columns to drop.
cols_to_drop.append('shape_sub_group')
cols_to_drop

['shape_sub_group']

### Clean the shape_rtype column

In [13]:
df['shape_rtype'].value_counts().head(30)

                                                                                      6943
Closed                                                                                 193
Closed Shape                                                                           192
Carinated Shoulder Amphorae                                                            188
Open                                                                                   175
Open Shape                                                                             168
LH Jiyeh Type 1                                                                         55
open                                                                                    51
Incurved rim                                                                            44
LH Jiyeh Type 2                                                                         35
Type M3a: thickened rim, bag-shaped body (Rohmer 2020, Type M3a, fig. 1.1, p. 43).      35
Ledge rim                                                                               32
Holemouth                                                                               31
Cup with rounded wall                                                                   29
Type M2a: long lip and fine (Rohmer 2020, Type M2a, fig. 1.1, p. 43)                    27
Deckel Typ 1 (Rembart 2018)                                                             21
Teller 10.1 (Katzjäger 2017)                                                            21
White Slip II                                                                           19
Schale Typ 1 (Rembart 2018)                                                             19
folded rim                                                                              18
closed                                                                                  18
Deckel 1.1 (Katzjäger 2017)                                                             18
Stemmed Dish                                                                            18
spouted                                                                                 17
Type M2b: wide mouth (Rohmer 2020, Type M2b, fig. 1.1, p. 43)                           17
angled rim                                                                              17
Teller Typ 10 (Rembart 2018)                                                            16
rolled rim                                                                              16
ledge rim                                                                               16
Schale/Schüssel 37.2 (Katzjäger 2017)                                                   16
Name: shape_rtype, dtype: int64

In [14]:
# We drop this column as well.
cols_to_drop.append('shape_rtype')
cols_to_drop

['shape_sub_group', 'shape_rtype']

### Clean the color column

In [15]:
df['color'].value_counts().head(30)

                                                                             5473
10R5/6                                                                        123
2.5YR5/6                                                                      121
2.5YR6/8                                                                      107
2.5YR5/8                                                                       82
Clay reddish yellow (7.5 YR 6/6).                                              76
Red clay                                                                       70
Clay reddish yellow (5 YR 6/6).                                                52
2.5YR6/6                                                                       51
10R4/6                                                                         50
10R5/8                                                                         43
smooth, bright whitish grey, flecked with small and medium lime fragments      40
10YR8/3                                                                        37
reddish                                                                        36
Compact red-orange clay with basalt inclusions.                                36
2.5YR5/4                                                                       35
light reddish brown                                                            35
5YR6/6                                                                         34
orange                                                                         31
Brownish red clay. Grey (basalt) and white inclusions.                         31
Orange                                                                         30
Light brown                                                                    30
Red-Slipped                                                                    29
buff                                                                           28
5YR5/4                                                                         27
2.5YR4/6                                                                       27
gray-black                                                                     25
10R5/4                                                                         24
10R6/6                                                                         24
Reddish yellow (5YR 6/6)                                                       23
Name: color, dtype: int64

> Not sure what the various codes mean. Will look into this and maybe consider cleaning this column.

### CLean the firing column

In [16]:
df['firing'].value_counts().head(30)

                     7900
Fully fired          1003
fully fired           320
Break: 2.5YR7/6       219
Break: 2.5YR6/6       205
Full fired            105
Break: 5YR7/6          95
Break: 2.5YR5/6        88
Break: 5YR6/6          81
Black core.            76
Break: 5YR5/6          73
Fully Fired            66
Thick black core.      61
Break: 2.5YR8/4        57
Break: 2.5YR7/4        53
Break: 10R7/6          52
Grey core.             47
Break: 5YR8/4          47
Break: 2.5YR6/4        40
Break: 5YR6/4          40
Break: 2.5YR6/8        39
Break: 5YR7/4          36
Oxidized               34
Break: 2.5YR5/8        34
Thick grey core.       32
Break: 10R5/6          29
Break: 10R6/6          29
Grey core              28
Break: 7.5YR5/4        28
Break: 7.5YR4/6        27
Name: firing, dtype: int64

In [17]:
df['firing'].replace({'Fully fired': 'Fully Fired',
                      'fully fired': 'Fully Fired',
                      'Full fired': 'Fully Fired',
                      'Black core.': 'Black Core',
                      'Thick black core.': 'Black Core',
                      'Black core': 'Black Core',
                      'Black core, up to 75*': 'Black Core',
                      'Grey core.': 'Grey Core',
                      'Thick grey core.': 'Grey Core',
                      'Grey core': 'Grey Core',
                      'wide gray core': 'Gray Core',
                      'Gray Core': 'Grey Core',
                      'wide light grey core': 'Grey Core',
                      'narrow light grey core': 'Grey Core'}).value_counts().head(50)

                                   7900
Fully Fired                        1494
Break: 2.5YR7/6                     219
Break: 2.5YR6/6                     205
Black Core                          155
Grey Core                           136
Break: 5YR7/6                        95
Break: 2.5YR5/6                      88
Break: 5YR6/6                        81
Break: 5YR5/6                        73
Break: 2.5YR8/4                      57
Break: 2.5YR7/4                      53
Break: 10R7/6                        52
Break: 5YR8/4                        47
Break: 5YR6/4                        40
Break: 2.5YR6/4                      40
Break: 2.5YR6/8                      39
Break: 5YR7/4                        36
Oxidized                             34
Break: 2.5YR5/8                      34
Break: 10R5/6                        29
Break: 10R6/6                        29
Break: 7.5YR5/4                      28
Break: 7.5YR4/6                      27
c. 600°C                             27
Break: 5YR4/6                        26
Break: 5YR5/4                        23
Break: 7.5YR4/4                      23
Break: 7.5YR7/4                      23
Break: 7.5YR6/4                      22
Break: 2.5YR4/6                      22
Break: 10R8/4                        22
Gray Core                            21
Above 750°C                          20
Break: 7.5YR7/6                      19
Break: 7.5YR5/6                      18
complete                             18
Black core, up to 750°C              17
Break: 2.5YR5/4                      16
Fully fired, up to 750°C             16
Break: 2.5YR4/8                      15
fully fired, no core visible         15
Core: Dark gray (N 4/), reduced      15
Break: 2.5YR7/8                      15
Break: 7.5YR8/4                      13
Fully fired, above 750°C             12
Fully Fired                          12
low, up to 750                       12
Fine grey core.                      12
Break: 10R6/4                        12
Name: firing, dtype: int64

### Clean the surface treatment column

In [18]:
df['surface_treatment'].value_counts().head(30)

                                                                                        6023
dull slip on entire vessel                                                               459
dull slip on entire vessel, partially rubbed off                                         348
dull slip on entire vessel, rubbed off                                                   268
dull slip on exterior                                                                    223
Voids.                                                                                   141
dull slip on exterior, partially rubbed off                                              137
Red slipped                                                                               81
wet-smoothed                                                                              65
dull glossy slip on entire vessel                                                         58
self-slipped, slightly powdery surface                                                    46
Red slip                                                                                  37
dull glossy slip on entire vessel, partially rubbed off                                   35
dull slip on exterior, rubbed off                                                         33
Red Slipped                                                                               33
Cream slip                                                                                29
Red slip and burnish                                                                      29
dull slip on entire vessel, rubbed off, rouletting on exterior                            23
wet-smoothed, self-slipped                                                                22
self-slipped                                                                              20
dull slip on interior                                                                     20
wet smoothed                                                                              19
Lustrous orange-red slip                                                                  19
Decoration red (2.5 YR 5/8). Rim and neck plain painted; parallel bands on the body.      19
no surface treatment                                                                      19
Red slip, black decoration                                                                19
dull slip on entire vessel, partially rubbed off, rouletting on exterior                  18
Plain/uncoated                                                                            18
dull slip on interior, partially rubbed off                                               17
red slip on interior and exterior                                                         17
Name: surface_treatment, dtype: int64

### Clean the manu_tech column

In [19]:
df['manu_tech'] = df['manu_tech'].apply(','.join)

In [34]:
df['manu_tech'].replace({'Wheel-made': 'wheel_made',
                         'Wheelmade': 'wheel_made',
                         'wheelmade': 'wheel_made',
                         'Wheel made': 'wheel_made',
                         'Mold made': 'mold_made',
                         'other,wheel finished': 'wheel_made,other'}).value_counts().head(20)

wheel_made                                  8543
                                            7255
hand_made_coil                               360
hand_made_slab                               180
mold_made                                    171
wheel_made,hand_made_coil,hand_made_slab      25
wheel_made,hand_made_coil                     21
wheel_made,mold_made                          15
other,Handmade                                15
other,Hand made                               13
ware,wheel_made                               11
other,Hand-made                               10
other,Carved                                  10
hand_made_coil,hand_made_slab                  6
wheel_made,other                               4
wheel_made,hand_made_slab                      3
other                                          2
other,Fine ware                                2
mold_made,hand_made_coil                       2
ware,hand_made_coil                            2
Name: manu_tech, dtype: int64