# Imports

In [1]:
# Imports
import numpy as np
import pandas as pd
import json

# Load the Data

In [2]:
# Load the vessels data
with open('../lcp_data/vessels.json') as file:
    df = pd.DataFrame(json.load(file))
df.head(20)

,id,category,chron,uid,site,site_ref,ware_id,created_at,updated_at,inventory_number,...,diameter_base,estimated_diameter_base,true_diameter_base,slug,acknowledgement,site_id,functional_category_id,old_shape_name,has_petrography,discarded_at
0,7,Pot Pot Pot,5th-4th centuries BCE,LCP-KFNUW,"{'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...",None,21.0,2012-09-17T20:25:44.756Z,2022-06-06T06:48:23.688Z,Mizpe Yammim 19/165,...,estimated,11.0,None,mizpe-yammim-19-165,,1154.0,8.0,Juglet,False,None
1,8,Pot,5th-4th century BCE,LCP-VBTDB,"{'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...",None,21.0,2012-09-17T20:30:46.389Z,2018-05-22T07:42:14.334Z,Mizpe Yammim 22/452,...,None,0.0,0.0,mizpe-yammim-22-452,,1154.0,8.0,Juglet,False,None
2,9,Pot,5th-4th century BCE,LCP-SBBGA,"{'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...",None,21.0,2012-09-17T20:32:02.507Z,2018-03-17T14:10:18.616Z,Mizpe Yammim 8/398,...,None,0.0,0.0,mizpe-yammim-8-398,,1154.0,8.0,Juglet,False,None
3,10,Pot,3rd-mid-2nd c. BCE,LCP-EAWCN,"{'id': 1525, 'name': 'Qedesh', 'chron': None, ...",None,28.0,2012-09-17T20:53:53.147Z,2021-12-06T11:10:42.903Z,Qedesh K00P168,...,None,0.0,0.0,qedesh-k00p168,,1525.0,1.0,Cooking pot,False,None
4,11,Pot,2nd c. BCE,LCP-SUNLQ,"{'id': 1525, 'name': 'Qedesh', 'chron': None, ...",None,28.0,2012-09-17T20:54:45.445Z,2022-07-15T21:45:23.124Z,Qedesh K00P058,...,None,0.0,0.0,qedesh-k00p058,,1525.0,1.0,Casserole/caccab√©,False,None
5,14,Pot,1200BCE - 1150BCE,LCP-USWLF,"{'id': 1243, 'name': 'Tel Miqne/Ekron', 'chron...",None,29.0,2012-09-17T21:07:57.254Z,2016-03-15T17:46:30.643Z,Miqne INE.4.392/1,...,None,0.0,0.0,miqne-ine-4-392-1,None,1243.0,10.0,"Bowl, large",False,None
6,16,Pot,300 BCE - 150 BCE,LCP-SPESO,"{'id': 1525, 'name': 'Qedesh', 'chron': None, ...",None,494.0,2012-09-17T21:16:02.498Z,2020-03-15T18:05:52.499Z,Qedesh K09P046,...,true,None,5.1,qedesh-k09p046,,1525.0,2.0,Saucer,False,None
7,17,Pot,200 BCE - 140 BCE,LCP-PFGSF,"{'id': 1525, 'name': 'Qedesh', 'chron': None, ...",None,127.0,2012-09-17T21:17:15.643Z,2020-03-14T20:17:34.857Z,Qedesh K00P157,...,true,None,7.8,qedesh-k00p157,,1525.0,2.0,Plate,False,None
8,18,Pot,5th-4th c. BCE,LCP-SQPVL,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,155.0,2012-09-17T21:24:44.936Z,2021-07-25T13:20:02.782Z,Tel Anafa PW 49/TA79P49,...,None,0.0,0.0,tel-anafa-pw-49-ta79p49,,1178.0,8.0,Juglet,False,None
9,19,Pot Pot,5th-4th century BCE,LCP-BCHMS,"{'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...",None,74.0,2012-09-17T21:26:15.697Z,2018-03-17T13:52:38.793Z,Mizpe Yammim 15/362,...,None,0.0,0.0,mizpe-yammim-15-362,,1154.0,8.0,Juglet,False,None
10,20,Pot,1800 BCE - 1650 BCE,LCP-EXHKS,"{'id': 1256, 'name': 'Tell es-Safi/Gath', 'chr...",None,32.0,2012-09-17T21:30:46.361Z,2018-05-13T09:10:35.623Z,Safi 968052,...,None,0.0,0.0,safi-968052,,1256.0,10.0,Jar,False,None
11,21,Pot,1800 BCE - 1650 BCE,LCP-BPNRF,"{'id': 1253, 'name': 'Tel Nagila', 'chron': No...",None,32.0,2012-09-17T21:31:30.728Z,2015-10-26T17:23:02.363Z,Pending2,...,None,0.0,0.0,pending2,None,1253.0,10.0,Jar,False,None
12,22,Pot,Middle Bronze Age IIA-IIB,LCP-NTYOG,"{'id': 1259, 'name': 'Yavneh Yam', 'chron': No...",None,32.0,2012-09-17T21:32:19.962Z,2015-10-19T20:34:01.088Z,Pending3,...,None,0.0,0.0,pending3,None,1259.0,10.0,Jar,False,None
13,23,Pot,late 2nd c. BCE,LCP-HTPPC,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,21.0,2012-09-19T17:15:46.827Z,2021-07-25T13:20:14.102Z,Tel Anafa PW 38/TA69P97,...,None,0.0,0.0,tel-anafa-pw-38-ta69p97,,1178.0,2.0,Jug,False,None
14,24,Pot,late 2nd c. BCE,LCP-QUEYS,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,21.0,2012-09-19T17:17:52.780Z,2021-07-25T13:20:39.216Z,Tel Anafa PW 1/TA68P25,...,None,0.0,0.0,tel-anafa-pw-1-ta68p25,,1178.0,2.0,Table Amphora,False,None
15,25,Pot,late 2nd c. BCE,LCP-RLFWU,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,21.0,2012-09-19T17:19:44.111Z,2021-07-25T13:20:25.829Z,Tel Anafa PW 24/TA68P202,...,None,0.0,0.0,tel-anafa-pw-24-ta68p202,,1178.0,2.0,Lagynos,False,None
16,26,Pot,2nd century BCE,LCP-MRVXU,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,21.0,2012-09-19T17:21:45.944Z,2021-07-25T13:19:24.576Z,Tel Anafa PW 96/TA69P84,...,None,0.0,0.0,tel-anafa-pw-96-ta69p84,,1178.0,8.0,Unguentarium,False,None
17,27,Pot,c. 125 BCE - 75 BCE,LCP-FUVLR,"{'id': 1178, 'name': 'Tel Anafa', 'chron': Non...",None,21.0,2012-09-19T17:23:11.918Z,2021-07-25T13:19:34.182Z,Tel Anafa PW 70/TA68P19,...,None,0.0,0.0,tel-anafa-pw-70-ta68p19,,1178.0,7.0,Amphoriskos,False,None
18,28,Pot,1099 CE - 1291 CE,LCP-DLJQO,"{'id': 1224, 'name': ''Akko/Acre', 'chron': No...",None,37.0,2012-09-20T15:37:25.018Z,2020-03-25T18:51:00.435Z,'Akko HC 160498/3,...,None,0.0,0.0,akko-hc-160498-3,,1224.0,1.0,Bowl,False,None
19,29,Pot,1099 CE - 1291 CE,LCP-TBQQP,"{'id': 1224, 'name': ''Akko/Acre', 'chron': No...",None,37.0,2012-09-20T15:39:40.310Z,2020-03-25T18:50:19.865Z,'Akko HC 120551/1,...,None,0.0,0.0,akko-hc-120551-1,,1224.0,1.0,Bowl,False,None

# Data Cleaning

In [3]:
# Call info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16717 entries, 0 to 16716
Data columns (total 52 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       16717 non-null  int64
 1   category                 560 non-null    object
 2   chron                    13837 non-null  object
 3   uid                      560 non-null    object
 4   site                     16699 non-null  object
 5   site_ref                 0 non-null      object
 6   ware_id                  9303 non-null   float64
 7   created_at               16717 non-null  object
 8   updated_at               16717 non-null  object
 9   inventory_number         16717 non-null  object
 10  shape_id                 15638 non-null  float64
 11  funct_cat                7631 non-null   object
 12  shape_sub_group          13389 non-null  object
 13  shape_rtype              13391 non-null  object
 14  shape_sub_type           560 non-null    object
 15  user_id                  16666 non-null  float64
 16  old_region_id            255 non-null    float64
 17  pub_ref                  560 non-null    object
 18  color                    13911 non-null  object
 19  firing                   13548 non-null  object
 20  surface_treatment        13919 non-null  object
 21  manu_tech                16717 non-null  object
 22  arch_context             13990 non-null  object
 23  privacy_status           16717 non-null  int64
 24  site_type                13999 non-null  object
 25  period                   8390 non-null   object
 26  ware_visual_desc         96 non-null     object
 27  petrofab_visual_desc     9376 non-null   object
 28  petrofabric_id           5073 non-null   float64
 29  start_year               10728 non-null  float64
 30  end_year                 10728 non-null  float64
 31  references_data          5573 non-null   object
 32  thickness                16706 non-null  object
 33  height                   3882 non-null   object
 34  preserved_height         15598 non-null  object
 35  true_height              13933 non-null  object
 36  diameter_rim             4388 non-null   object
 37  estimated_diameter_rim   13233 non-null  object
 38  true_diameter_rim        15786 non-null  object
 39  max_diameter             9553 non-null   object
 40  estimated_max_diameter   16626 non-null  object
 41  true_max_diameter        16591 non-null  object
 42  diameter_base            1289 non-null   object
 43  estimated_diameter_base  15588 non-null  object
 44  true_diameter_base       16546 non-null  object
 45  slug                     16717 non-null  object
 46  acknowledgement          11910 non-null  object
 47  site_id                  16699 non-null  float64
 48  functional_category_id   13138 non-null  float64
 49  old_shape_name           8034 non-null   object
 50  has_petrography          16717 non-null  bool
 51  discarded_at             0 non-null      object
dtypes: bool(1), float64(9), int64(2), object(40)
memory usage: 6.5+ MB

In [4]:
# Look for nearly empty columns
filter = (df.isna().sum() / df.shape[0] > 0.95)
cols = df.loc[:, filter.values].columns
df.drop(columns = cols, inplace = True)

In [5]:
# We won't use any ids for modelling.
df.drop(columns = ['ware_id', 
                   'shape_id', 
                   'user_id',
                   'petrofabric_id',
                   'site_id',
                   'functional_category_id'],
        inplace = True)

In [6]:
# Remove some more columns unneccesary for modeling.
df.drop(columns = ['created_at',
                   'updated_at',
                   'inventory_number'],
        inplace = True)

## Label cleaning

In [7]:
# Make a list of columns we decide to drop after closer inspection
cols_to_drop = []

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16717 entries, 0 to 16716
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       16717 non-null  int64
 1   chron                    13837 non-null  object
 2   site                     16699 non-null  object
 3   funct_cat                7631 non-null   object
 4   shape_sub_group          13389 non-null  object
 5   shape_rtype              13391 non-null  object
 6   color                    13911 non-null  object
 7   firing                   13548 non-null  object
 8   surface_treatment        13919 non-null  object
 9   manu_tech                16717 non-null  object
 10  arch_context             13990 non-null  object
 11  privacy_status           16717 non-null  int64
 12  site_type                13999 non-null  object
 13  period                   8390 non-null   object
 14  petrofab_visual_desc     9376 non-null   object
 15  start_year               10728 non-null  float64
 16  end_year                 10728 non-null  float64
 17  references_data          5573 non-null   object
 18  thickness                16706 non-null  object
 19  height                   3882 non-null   object
 20  preserved_height         15598 non-null  object
 21  true_height              13933 non-null  object
 22  diameter_rim             4388 non-null   object
 23  estimated_diameter_rim   13233 non-null  object
 24  true_diameter_rim        15786 non-null  object
 25  max_diameter             9553 non-null   object
 26  estimated_max_diameter   16626 non-null  object
 27  true_max_diameter        16591 non-null  object
 28  diameter_base            1289 non-null   object
 29  estimated_diameter_base  15588 non-null  object
 30  true_diameter_base       16546 non-null  object
 31  slug                     16717 non-null  object
 32  acknowledgement          11910 non-null  object
 33  old_shape_name           8034 non-null   object
 34  has_petrography          16717 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(30)
memory usage: 4.4+ MB

### Clean the 'funct_cat' column

In [9]:
# Clean the 'funct_cat' column.
df['funct_cat'].value_counts()

                                    1655
Dining/Drinking/Serving             1630
Household/Utility                   1521
Transport/Storage                   1005
Cooking/Kitchen                      727
Household/Storage                    485
Table ware                            83
Lighting                              83
Food production                       80
Cosmetic/Toilette/Medicine            67
Smoking                               48
Cooking/Kitchen, Food production      46
Cooking                               39
Dining/Serving                        31
Ceramic Production                    23
Agriculture                           13
Transport, storage                     9
Food production/service                9
cooking wares                          8
food/drink service                     8
sugar production                       7
Transport/Stroage                      7
Burial                                 5
food service                           5
 Cooking                               4
Ritual                                 3
drinking vessel                        3
Building material                      3
Tableware                              2
cooking                                2
Table                                  2
brick                                  2
lamp                                   2
Water jug                              2
perfume vessels                        1
table ware                             1
Fine ware                              1
Waster                                 1
Figurine                               1
to drink                               1
Container                              1
lighting                               1
 cooking                               1
Ritual, Toy                            1
 food/drink service                    1
Miniature                              1
Name: funct_cat, dtype: int64

In [10]:
df['funct_cat'].replace({'Household/Storage': 'Household/Utility',
                         'Table ware': 'Dining/Drinking/Serving',
                         'Food production': 'Cooking/Kitchen',
                         'Cooking/Kitchen, Food production': 'Cooking/Kitchen',
                         'Cooking': 'Cooking/Kitchen',
                         'Transport, storage': 'Transport/Storage',
                         'Dining/Serving': 'Dining/Drinking/Serving',
                         'Food production/service': 'Cooking/Kitchen',
                         'food/drink service': 'Dining/Drinking/Serving',
                         'cooking wares': 'Cooking/Kitchen',
                         'food service': 'Dining/Drinking/Service',
                         ' Cooking': 'Cooking/Kitchen',
                         'sugar production': 'Cooking/Kitchen',
                         'drinking vessel': 'Dining/Drinking/Serving',
                         ' food/drink service': 'Dining/Drinking/Serving',
                         ' cooking': 'Cooking/Kitchen',
                         'to drink': 'Dining/Drinking/Serving',
                         'cooking': 'Cooking/Kitchen',
                         'Water jug': 'Dining/Drinking/Serving',
                         'Waster': 'Dining/Drinking/Serving',
                         'Dining/Drinking/Service': 'Dining/Drinking/Serving',
                         'Table': 'Household/Utility',
                         'Tableware': 'Household/Utility',
                         'Fine ware': 'Household/Utility',
                         'table ware': 'Household/Utility',
                         'brick': 'Building material',
                         'Container': 'Storage',
                         'perfume vessels': 'Cosmetic/Toilette/Medicine',
                         'Transport/Stroage': 'Transport/Storage',
                         'Lighting': 'Household/Utility',
                         'lamp': 'Household/Utility',
                         'lighting': 'Household/Utility',
                         'Storage': 'Household/Utility'}).value_counts()

Household/Utility             2097
Dining/Drinking/Serving       1760
                              1655
Transport/Storage             1021
Cooking/Kitchen                923
Cosmetic/Toilette/Medicine      68
Smoking                         48
Ceramic Production              23
Agriculture                     13
Burial                           5
Building material                5
Dining/Drinking/Service          5
Ritual                           3
Ritual, Toy                      1
lighting                         1
Storage                          1
Figurine                         1
Miniature                        1
Name: funct_cat, dtype: int64

> There is still work to be done on this feature. I'm having issues dealing with some of the remaining labels. For example, I'm not able to change the label 'Dining/Drinking/Service.' Not sure why.

### Clean the shape_sub_group column

In [11]:
# Get the labels
df['shape_sub_group'].value_counts().head(30)

                                                             12501
Marine Transport Containers                                    187
Milkbowl                                                        18
Black polished bowl with graffito                               14
Bowl                                                            13
tableware                                                       12
Beirut 3                                                        11
Low-necked jar                                                  10
Gray wide-mouthed storage jar                                    9
Thickened rim saucer                                             8
Phoenician Amphora                                               8
cooking-pot                                                      6
Jar                                                              5
Base of black polished bowl with graffito                        5
Black polished bowl                                              5
amphora without neck                                             5
closed vessel                                                    5
Everted rim                                                      5
 cooking                                                         4
bowl                                                             4
cooking                                                          4
incurved rim bowl                                                4
cooking                                                          4
Galilean                                                         4
Late Roman amphora 4                                             4
Local banded lydion                                              4
Late Roman Amphora 5                                             4
Late Roman Amphora 4                                             4
Cooking pot                                                      4
Black polished side-spouted sieve jug with diamond facets        3
Name: shape_sub_group, dtype: int64

> Probably not worth using this feature for modeling.

In [12]:
# Add shape_sub_group to the list of columns to drop.
cols_to_drop.append('shape_sub_group')
cols_to_drop

['shape_sub_group']

### Clean the shape_rtype column

In [13]:
df['shape_rtype'].value_counts().head(30)

                                                                                      6943
Closed                                                                                 193
Closed Shape                                                                           192
Carinated Shoulder Amphorae                                                            188
Open                                                                                   175
Open Shape                                                                             168
LH Jiyeh Type 1                                                                         55
open                                                                                    51
Incurved rim                                                                            44
LH Jiyeh Type 2                                                                         35
Type M3a: thickened rim, bag-shaped body (Rohmer 2020, Type M3a, fig. 1.1, p. 43).      35
Ledge rim                                                                               32
Holemouth                                                                               31
Cup with rounded wall                                                                   29
Type M2a: long lip and fine (Rohmer 2020, Type M2a, fig. 1.1, p. 43)                    27
Deckel Typ 1 (Rembart 2018)                                                             21
Teller 10.1 (Katzj√§ger 2017)                                                            21
White Slip II                                                                           19
Schale Typ 1 (Rembart 2018)                                                             19
folded rim                                                                              18
closed                                                                                  18
Deckel 1.1 (Katzj√§ger 2017)                                                             18
Stemmed Dish                                                                            18
spouted                                                                                 17
Type M2b: wide mouth (Rohmer 2020, Type M2b, fig. 1.1, p. 43)                           17
angled rim                                                                              17
Teller Typ 10 (Rembart 2018)                                                            16
rolled rim                                                                              16
ledge rim                                                                               16
Schale/Sch√ºssel 37.2 (Katzj√§ger 2017)                                                   16
Name: shape_rtype, dtype: int64

In [14]:
# We drop this column as well.
cols_to_drop.append('shape_rtype')
cols_to_drop

['shape_sub_group', 'shape_rtype']

### Clean the color column

In [15]:
df['color'].value_counts().head(30)

                                                                             5473
10R5/6                                                                        123
2.5YR5/6                                                                      121
2.5YR6/8                                                                      107
2.5YR5/8                                                                       82
Clay reddish yellow (7.5 YR 6/6).                                              76
Red clay                                                                       70
Clay reddish yellow (5 YR 6/6).                                                52
2.5YR6/6                                                                       51
10R4/6                                                                         50
10R5/8                                                                         43
smooth, bright whitish grey, flecked with small and medium lime fragments      40
10YR8/3                                                                        37
reddish                                                                        36
Compact red-orange clay with basalt inclusions.                                36
2.5YR5/4                                                                       35
light reddish brown                                                            35
5YR6/6                                                                         34
orange                                                                         31
Brownish red clay. Grey (basalt) and white inclusions.                         31
Orange                                                                         30
Light brown                                                                    30
Red-Slipped                                                                    29
buff                                                                           28
5YR5/4                                                                         27
2.5YR4/6                                                                       27
gray-black                                                                     25
10R5/4                                                                         24
10R6/6                                                                         24
Reddish yellow (5YR 6/6)                                                       23
Name: color, dtype: int64

> Not sure what the various codes mean. Will look into this and maybe consider cleaning this column.

### Clean the firing column

In [16]:
df['firing'].value_counts().head(30)

                     7900
Fully fired          1003
fully fired           320
Break: 2.5YR7/6       219
Break: 2.5YR6/6       205
Full fired            105
Break: 5YR7/6          95
Break: 2.5YR5/6        88
Break: 5YR6/6          81
Black core.            76
Break: 5YR5/6          73
Fully Fired            66
Thick black core.      61
Break: 2.5YR8/4        57
Break: 2.5YR7/4        53
Break: 10R7/6          52
Grey core.             47
Break: 5YR8/4          47
Break: 2.5YR6/4        40
Break: 5YR6/4          40
Break: 2.5YR6/8        39
Break: 5YR7/4          36
Oxidized               34
Break: 2.5YR5/8        34
Thick grey core.       32
Break: 10R5/6          29
Break: 10R6/6          29
Grey core              28
Break: 7.5YR5/4        28
Break: 7.5YR4/6        27
Name: firing, dtype: int64

In [17]:
df['firing'].replace({'Fully fired': 'Fully Fired',
                      'fully fired': 'Fully Fired',
                      'Full fired': 'Fully Fired',
                      'Black core.': 'Black Core',
                      'Thick black core.': 'Black Core',
                      'Black core': 'Black Core',
                      'Black core, up to 75*': 'Black Core',
                      'Grey core.': 'Grey Core',
                      'Thick grey core.': 'Grey Core',
                      'Grey core': 'Grey Core',
                      'wide gray core': 'Gray Core',
                      'Gray Core': 'Grey Core',
                      'wide light grey core': 'Grey Core',
                      'narrow light grey core': 'Grey Core'}).value_counts().head(50)

                                   7900
Fully Fired                        1494
Break: 2.5YR7/6                     219
Break: 2.5YR6/6                     205
Black Core                          155
Grey Core                           136
Break: 5YR7/6                        95
Break: 2.5YR5/6                      88
Break: 5YR6/6                        81
Break: 5YR5/6                        73
Break: 2.5YR8/4                      57
Break: 2.5YR7/4                      53
Break: 10R7/6                        52
Break: 5YR8/4                        47
Break: 5YR6/4                        40
Break: 2.5YR6/4                      40
Break: 2.5YR6/8                      39
Break: 5YR7/4                        36
Oxidized                             34
Break: 2.5YR5/8                      34
Break: 10R5/6                        29
Break: 10R6/6                        29
Break: 7.5YR5/4                      28
Break: 7.5YR4/6                      27
c. 600¬∞C                             27
Break: 5YR4/6                        26
Break: 5YR5/4                        23
Break: 7.5YR4/4                      23
Break: 7.5YR7/4                      23
Break: 7.5YR6/4                      22
Break: 2.5YR4/6                      22
Break: 10R8/4                        22
Gray Core                            21
Above 750¬∞C                          20
Break: 7.5YR7/6                      19
Break: 7.5YR5/6                      18
complete                             18
Black core, up to 750¬∞C              17
Break: 2.5YR5/4                      16
Fully fired, up to 750¬∞C             16
Break: 2.5YR4/8                      15
fully fired, no core visible         15
Core: Dark gray (N 4/), reduced      15
Break: 2.5YR7/8                      15
Break: 7.5YR8/4                      13
Fully fired, above 750¬∞C             12
Fully Fired                          12
low, up to 750                       12
Fine grey core.                      12
Break: 10R6/4                        12
Name: firing, dtype: int64

### Clean the surface treatment column

In [18]:
df['surface_treatment'].value_counts().head(30)

                                                                                        6023
dull slip on entire vessel                                                               459
dull slip on entire vessel, partially rubbed off                                         348
dull slip on entire vessel, rubbed off                                                   268
dull slip on exterior                                                                    223
Voids.                                                                                   141
dull slip on exterior, partially rubbed off                                              137
Red slipped                                                                               81
wet-smoothed                                                                              65
dull glossy slip on entire vessel                                                         58
self-slipped, slightly powdery surface                                                    46
Red slip                                                                                  37
dull glossy slip on entire vessel, partially rubbed off                                   35
dull slip on exterior, rubbed off                                                         33
Red Slipped                                                                               33
Cream slip                                                                                29
Red slip and burnish                                                                      29
dull slip on entire vessel, rubbed off, rouletting on exterior                            23
wet-smoothed, self-slipped                                                                22
self-slipped                                                                              20
dull slip on interior                                                                     20
wet smoothed                                                                              19
Lustrous orange-red slip                                                                  19
Decoration red (2.5 YR 5/8). Rim and neck plain painted; parallel bands on the body.      19
no surface treatment                                                                      19
Red slip, black decoration                                                                19
dull slip on entire vessel, partially rubbed off, rouletting on exterior                  18
Plain/uncoated                                                                            18
dull slip on interior, partially rubbed off                                               17
red slip on interior and exterior                                                         17
Name: surface_treatment, dtype: int64

### Clean the manu_tech column

In [19]:
# Convert the entries to strings
df['manu_tech'] = df['manu_tech'].apply(','.join)

In [20]:
# Consolidate the labels
df['manu_tech'].replace({'Wheel-made': 'wheel_made',
                         'Wheelmade': 'wheel_made',
                         'wheelmade': 'wheel_made',
                         'Wheel made': 'wheel_made',
                         'Mold made': 'mold_made',
                         'other,wheel finished': 'wheel_made,other',
                         'other,Handmade': 'other,hand_made',
                         'other,Hand made': 'other,hand_made',
                         'other,Handmade; Inc*': 'other,hand_made',
                         'other,hand_made; Inc*': 'other,hand_made'},
                         regex = True).value_counts().head(30)

wheel_made                                                                                                                                                                                                                                                             8543
                                                                                                                                                                                                                                                                       7255
hand_made_coil                                                                                                                                                                                                                                                          360
hand_made_slab                                                                                                                                                                                                                                                          180
mold_made                                                                                                                                                                                                                                                               171
other,hand_made                                                                                                                                                                                                                                                          28
wheel_made,hand_made_coil,hand_made_slab                                                                                                                                                                                                                                 25
wheel_made,hand_made_coil                                                                                                                                                                                                                                                21
wheel_made,mold_made                                                                                                                                                                                                                                                     15
ware,wheel_made                                                                                                                                                                                                                                                          11
other,Carved                                                                                                                                                                                                                                                             10
other,Hand-made                                                                                                                                                                                                                                                          10
hand_made_coil,hand_made_slab                                                                                                                                                                                                                                             6
wheel_made,other                                                                                                                                                                                                                                                          4
wheel_made,hand_made_slab                                                                                                                                                                                                                                                 3
mold_made,hand_made_coil                                                                                                                                                                                                                                                  2
ware,hand_made_coil                                                                                                                                                                                                                                                       2
other                                                                                                                                                                                                                                                                     2
other,Fine ware                                                                                                                                                                                                                                                           2
other,hand_made; Inclusions: ‚ÄúFinely mixed clay with small,medium and a few large inclusions and organics‚Äù (Webb et al. 2009: 56); many black and light/white sand,few medium lime (some spawled),few gray and lime gravel,some small to medium voids from organics       1
other,hand_made; Inclusions: ‚ÄúFinely mixed clay with small inclusions and fine organics‚Äù (Webb et al. 2009: 54); some sand,some organic now black,few voids (breaks look like layers of flaking clay)                                                                     1
other,hand_made; Inclusions: ‚ÄúFinely mixed clay with small and medium inclusions‚Äù (Webb et al. 2009: 54); some black sand,many small lime,many medium lime,few large lime and other stone,few small voids                                                                 1
other,hand_made; Inclusions: ‚ÄúFinely mixed clay with small,medium and some large inclusions and finely chopped straw‚Äù (Webb et al. 2009: 56); many sand dark and light,some medium white,black,and reddish stone and organics,some small voids                            1
other,hand_made; Inclusions: ‚ÄúFinely mixed clay with small and some large inclusions‚Äù (Webb et al. 2009: 55); some sand (few black,mostly white lime),some medium lime and few large lime,some lime spawled off surface leaving pock marks                                1
other,hand_made; Inclusions: ‚ÄúFinely mixed clay with small,medium and some large inclusions,fired buff‚Äù (Webb et al. 2009: 54); many small sand (black,white),some medium lime and red and dark stone; lime at surface not spawled out; some small voids                  1
other,hand_made; Inclusions: ‚ÄúWell mixed clay with small,medium and large inclusions and organics‚Äù (Webb et al. 2009); many sand (black,grayish,and white lime),some medium lime,few gravel lime and other stone (one red),few small voids                                1
other,hand_made; Inclusions: no fabric description in Webb et al. 2009; many small sand (black and white),few medium lime,few large gravel,few small voids                                                                                                                1
other,hand_made; Inclusions: ‚ÄúVery finely mixed clay with small and medium inclusions,fired buff‚Äù (Webb et al. 2009: 55); many small sand (mostly black),few small voids,few medium lime and other stone (some spawled out)                                               1
other,Hand-made; Inclusions: No comment on fabric in Webb et al. 2009; many small sand (black and white),few medium lime,few large gravel (spawled thus probably lime),few small voids                                                                                    1
other,Hand-made; Inclusions: ‚ÄúFinely mixed clay with small and a few large inclusions‚Äù (Webb et al. 2009: 54); some small sand (black),few small voids,few large gravel                                                                                                   1
Name: manu_tech, dtype: int64

> Still need to figure out how to use regex to clean the remaining data.

### Clean the arch_context column

In [21]:
df['arch_context'].value_counts().head(30)

                                                              3145
Surface                                                        490
House K26                                                      304
Paphos Agora                                                   215
Cistern                                                        212
City of David, Y. Shiloh                                       145
Ophel, E. Mazar                                                128
Subterranean Complex 169                                       126
Citadel summit                                                 114
Communal tomb, Area A                                           99
surface survey                                                  98
House K20, cellar, phase 8, adobe brick rubble                  94
Fortress                                                        89
Citadel Mound, SW zone, Op. 17, ‚ÄúSquare Pit‚Äù, dump deposit      87
Under a mosaic                                                  82
Hospitaller Compound                                            75
B1-3                                                            67
Room 43, DSU 160                                                66
Area B                                                          64
Area 13c, house 34, room 1, use level                           61
fill                                                            61
Area 13c, house 34, room 4, use level                           61
House K20, east courtyard, phase 2, use level                   57
Area 13c, south of house 34, street level                       56
House M10, west courtyard, phase 2, adobe brick rubble          48
Level: 7BC                                                      48
Area 13c, house 33, room 5, collapsed vault                     47
B1                                                              45
Surface of the east terrace                                     44
Surface Survey                                                  43
Name: arch_context, dtype: int64

> This seems to be a description of where the sherd was found. We don't think this will be particularly useful for data modeling. We will drop this column.

In [22]:
# Add the arch_context column to the list of columns to drop.
cols_to_drop.append('arch_context')
cols_to_drop

['shape_sub_group', 'shape_rtype', 'arch_context']

### Clean the privacy_status column

In [23]:
df['privacy_status'].value_counts()

1    16350
2      256
3       83
0       28
Name: privacy_status, dtype: int64

> This probably isn't useful, but will confirm before dropping.

### Clean the site_type column

In [24]:
df['site_type'].replace({'city': 'City',
                         'Large city': 'City',
                         'settlement': 'Settlement',
                         'village': 'Village'}).value_counts().head(30)

City                                       2976
                                           2623
town, house, domestic                      2275
Settlement                                  848
Village                                     418
city and port                               267
Harbor                                      232
Port                                        226
town                                        220
Fortified settlement                        170
Fortified citadel                           135
cemetery                                    120
Cistern                                     108
Urban                                       106
sanctuary                                   106
fortification                               104
Big fortified citadel                        97
Tomb                                         97
khan/inn                                     95
Fortified little citadel and settlement      89
Cemetery                                     86
town, street                                 84
settlement and citadel                       83
Shipwreck                                    82
Build in stone rooms                         82
fort                                         76
Urban Site                                   76
Camp                                         75
Kiln                                         74
fortress                                     73
Name: site_type, dtype: int64

### Clean the period column

In [25]:
df['period'].replace({'': 'Missing'}).value_counts().head(30)

Hellenistic                      903
Byzantine                        704
Roman                            532
Missing                          463
Iron Age IIC                     364
Iron Age IIB                     350
Byzantine, Early Islamic         315
Iron Age IIA                     284
Middle Bronze Age II             251
Persian Period                   246
Hellenistic, Early Roman         215
Late Hellenistic                 203
Early Islamic                    185
Early Bronze Age II              160
Mamluk-Ottoman Period            148
Late Hellenistic, Early Roman    145
Iron Age I                       135
Early Roman                      129
Late Bronze Age II               128
Late Iron Age                    109
Iron Age                         106
Ptolemaic                        104
Roman Period                     102
Late Bronze Age                   81
Chalcolithic                      76
Iron Age IIB-C                    68
Late Period                       61
Persian                           59
Iron Age II                       52
Ottoman                           48
Name: period, dtype: int64

### Clean the petrofab_visual_desc column

In [26]:
df['petrofab_visual_desc'].value_counts().head(30)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   9372
The matrix is ferruginous calcareous clay with small quantities of silt-size quartz and carbonate relicts. The clay minerals of the matrix had changed their optical properties due to the firing (firing temperature was estimated close to 750ÔÇ∞C). The non plastic inclusions are well sorted sub-rounded to rounded mostly quartz sand with rare plagioclase, chert and chalk balls, and constitutes about 12 percent of the sherd‚Äôs volume. There are numerous tiny cracks parallel to the surfaces of the vessel and rare grass negatives.                                                                                                                                                                                                                                                                                                                       1
The matrix is light brownish-green to greenish-brown in plain polarized light. The clay minerals had changed their optical properties and are strongly vitrified as a result of firing at the temperature close to 800C.  The temper is olivine-iddingsite sand (up to 85% of total) ‚Äì large (up to 0.3 mm) rounded reddish-brown to dark brown grains, sometimes containing relict olivine nucleus. They compose about 15% of the total volume of the sherd. Also appear: olivine not altered into iddingsite - small angular to rounded grains; plagioclase - small grains, some of them with character twinning; schist - single rounded grains. Rare are: chalk balls, chlorite that is also secondary altering of olivine (large aggregates, golden-brown in PPL), amphibole - angular grains. Some hollows ‚Äì from tiny cracks to large round bubbles.\r\n       1
 Matrix is calcareous marl, little ferruginous fired at about 750¬∫C (clay minerals partially saved their optical properties). The non plastic inclusions are quartz sand, which 0.1-0.3 mm sub-rounded to sub-angular grains, compose about 6 % of the volume of the sherd. There are also sporadic 0.3- 0.7 mm chalk particles and dark brown 0.3-0.4 mm in diameter nodules of silty clay (possibly Terra Rossa).                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
sandy                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
Name: petrofab_visual_desc, dtype: int64

> This column is not useful for our model so we drop it.

In [27]:
# Drop the petrofab_visual_desc column
cols_to_drop.append('petrofab_visual_desc')
cols_to_drop

['shape_sub_group', 'shape_rtype', 'arch_context', 'petrofab_visual_desc']

### Clean the start_year column

In [28]:
df['start_year'].value_counts()

-300.0     1037
-200.0      897
 0.0        547
-100.0      380
-600.0      323
           ...
 2200.0       1
-665.0        1
-680.0        1
-610.0        1
-2900.0       1
Name: start_year, Length: 254, dtype: int64

In [29]:
# Check for missing values in 'start year'
df['start_year'].isna().sum()

5989

> The labeling convention seems inconsistent for this column. There are years that should probably be negative. (2200 .e.g.)

### Clean the end_year column

In [30]:
df['end_year'].value_counts()

-101.0     1047
-1.0        713
 99.0       688
 199.0      516
 700.0      415
           ...
-275.0        1
-3100.0       1
 3100.0       1
-530.0        1
 730.0        1
Name: end_year, Length: 282, dtype: int64

> Same issue as above. Need to fix the labels that should be negative somehow.

### Clean the references_data column

In [31]:
df['references_data'].head(30)

0     {}
1     {}
2     {}
3     {}
4     {}
5     {}
6     {}
7     {}
8     {}
9     {}
10    {}
11    {}
12    {}
13    {}
14    {}
15    {}
16    {}
17    {}
18    {}
19    {}
20    {}
21    {}
22    {}
23    {}
24    {}
25    {}
26    {}
27    {}
28    {}
29    {}
Name: references_data, dtype: object

> Need to investigate this further.

### Clean the thickness column

In [32]:
df['thickness'].value_counts()

0.0     15241
0.5       209
0.4       205
0.6       148
0.7       136
        ...
1.06        1
0.63        1
0.77        1
0.87        1
9.0         1
Name: thickness, Length: 93, dtype: int64

In [33]:
# Determine how many entries larger than 0.
(df['thickness'].astype('float64') > 0).sum()

1465

> Not many nonzero values. We may end up dropping this column.

### Clean the height column

In [34]:
df['height'].value_counts()

preserved    2777
true         1105
Name: height, dtype: int64

### Clean the preserved_height column

In [35]:
df['preserved_height'].value_counts()

0.0      12875
4.0        124
3.0         83
5.0         78
4.5         70
         ...
23.7         1
25.9         1
29.3         1
130.0        1
2.92         1
Name: preserved_height, Length: 299, dtype: int64

In [36]:
(df['preserved_height'].astype('float64' ) > 0).sum()

2723

### Clean the true_height column

In [37]:
df['true_height'].value_counts()

0.0     12855
5.0        31
4.0        29
4.5        27
3.0        26
        ...
51.0        1
32.2        1
46.5        1
22.4        1
44.4        1
Name: true_height, Length: 274, dtype: int64

In [38]:
# Get the number of nonzero entries
(df['true_height'].astype('float64') > 0).sum()

1078

### Clean the diameter_rim column

In [39]:
df['diameter_rim'].value_counts()

true         3476
estimated     912
Name: diameter_rim, dtype: int64

### Clean the estimated_diameter_rim

In [40]:
df['estimated_diameter_rim'].value_counts()

0.0     12366
10.0       81
11.0       42
12.0       42
9.0        41
        ...
10.1        1
7.9         1
15.9        1
2.44        1
26.5        1
Name: estimated_diameter_rim, Length: 139, dtype: int64

In [41]:
# Get the number of nonzero entries
(df['estimated_diameter_rim'].astype('float64') > 0).sum()

867

### Clean the true_diameter_rim column

In [42]:
df['true_diameter_rim'].value_counts()

0.0     12401
10.0      179
12.0      175
14.0      170
18.0      155
        ...
5.3         1
21.5        1
41.0        1
1.0         1
22.5        1
Name: true_diameter_rim, Length: 278, dtype: int64

In [43]:
# Get the number of nonzero entries
(df['true_diameter_rim'].astype('float64') > 0).sum()

3385

### Clean the max_diameter column

In [44]:
df['max_diameter'].value_counts()

                  8567
estimated          120
true                87
16                  20
15                  19
                  ...
24.3 cm (body)       1
25.8 cm              1
35 cm (body)         1
4.2-4.22 cm          1
N/A                  1
Name: max_diameter, Length: 398, dtype: int64

> Not sure how to interpret this. The "estimated" and true "labels" seemed to reference other columns in this data set.

### Clean the estimated_max_diameter column

In [45]:
df['estimated_max_diameter'].value_counts()

0.0     16510
13.0        9
20.0        7
12.0        6
19.0        5
21.0        5
17.0        5
10.0        5
28.0        5
32.0        4
16.0        4
9.0         3
30.0        3
24.0        3
26.0        3
22.0        3
5.0         2
12.5        2
35.0        2
15.0        2
34.0        2
29.0        2
9.5         2
40.0        2
11.0        2
6.0         1
13.2        1
18.5        1
13.5        1
19.6        1
64.0        1
51.2        1
18.6        1
22.4        1
35.4        1
12.8        1
18.0        1
44.0        1
23.0        1
36.0        1
50.0        1
42.0        1
8.0         1
14.0        1
17.5        1
38.0        1
7.0         1
6.2         1
8.5         1
31.0        1
55.0        1
29.5        1
47.5        1
Name: estimated_max_diameter, dtype: int64

In [46]:
# Get the percentage of entries equal to 0
(df['estimated_max_diameter'].value_counts()[0]) / len(df)

0.9876173954656936

> There's a lot of data missing. We should probably drop this column.

### Clean the true_max_diameter column

In [47]:
df['true_max_diameter'].value_counts()

0.0     16510
14.0        5
12.0        4
16.2        3
12.5        2
        ...
13.0        1
26.0        1
8.5         1
37.0        1
5.7         1
Name: true_max_diameter, Length: 65, dtype: int64

> A lot of missing values in this column.

### Clean the diameter_base column

In [48]:
df['diameter_base'].value_counts()

true         1125
estimated     164
Name: diameter_base, dtype: int64

### Clean the estimated_diameter_base column

In [49]:
df['estimated_diameter_base'].value_counts()

0.0     15438
5.0        13
6.0        11
8.0        10
11.0        8
        ...
8.7         1
6.9         1
6.3         1
5.9         1
32.0        1
Name: estimated_diameter_base, Length: 64, dtype: int64

> Large number of missing values

### Clean the true_diameter_base column

In [50]:
df['true_diameter_base'].value_counts()

0.0     15454
5.0        57
6.0        52
4.0        48
3.0        41
        ...
0.5         1
9.3         1
65.3        1
43.5        1
14.6        1
Name: true_diameter_base, Length: 184, dtype: int64

> If the missing values aren't spread out too much, we may be able to construct a complete dataset using many if not most of the columns.

### Clean the slug column

In [51]:
df['slug'].value_counts()

mizpe-yammim-19-165      1
lachish-l-2610-b-7743    1
lachish-l-2610-b-7562    1
lachish-l-2610-b-7733    1
lachish-l-2611-b-7730    1
                        ..
o14-7                    1
t18-18-1                 1
m13-5                    1
6-4                      1
alasehir-3260            1
Name: slug, Length: 16717, dtype: int64

> Not sure what to do with this. Need a subject-matter-expert.

### Clean the acknowledgement column

In [52]:
df['acknowledgement'].value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     9144
<p>This material is a product of the Syro-Belgian Tell Tweini Excavation Project, headed by Dr. Al-Maqdissi and Dr. Badawi, of the Syrian Department of Antiquities, and Prof. Dr. Joachim Bretschneider, of Ghent University. The full publication is J. Bretschneider and G. Jans, eds., <em style="background-color: initial;">About Tell Tweini (Syria): Artefacts, Ecofacts and Landscape</em>. <em style="background-color: initial;">Research Results of the Belgian Mission</em>. Orientalia Lovaniensia Analecta 281 (Leuven: Peeters Publishers, 2019) [ISBN 978-90-429-3678-2]. We acknowledge the kindness of the editors in sharing images and information.</p><p>Photographs were taken by B. Vandermeulen, K. Vansteenhuyse, and H. Hameeuw. Drawings were made under the supervision of K. Vansteenhuyse.</p>         192
Financial support for this study was party provided by the Israel Science Foundation (Grant 209/14).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  109
<p>S. Dan-Goor and Y. Tchekhanovets, Israel Antiquities Authority, City of David Excavations</p>\r\n<p>&nbsp;<br />&nbsp;</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         100
<p>S. Dan-Goor and Y. Tchekhanovets, Israel Antiquities Authority, City of David Excavations</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       98
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ...
<p>Acknowledgements: This entry was created by Smith using\r\ninformation in Webb et al. 2009 (which drew on a previous unpublished study by\r\nHerscher,&nbsp;which informed an exhibition, see catalogue: Kershaw ed. 1983) and measurements, color readings, observations of inclusions and\r\nsurface treatments, and other observed details made by Smith during the week of\r\nFebruary 24-28, 2020 at The Ringling Museum of Art.</p><p>Provenance: Excavated by James R. B. Stewart in 1961,\r\nUniversity of Sydney; donated by Eve Stewart to Florida State University 1973;\r\ndonated by Florida State University 1973; 1974 accessioned by The John and\r\nMable Ringling Museum of Art. SN74.14</p><p>Classified in Webb et al. 2009 as Red Polished I-II, as an import from the south or center of the island.</p>       1
<p>Acknowledgements: This entry was created by Smith using\r\ninformation in Webb et al. 2009 (which drew on a previous unpublished study by\r\nHerscher,&nbsp;which informed an exhibition, see catalogue: Kershaw ed. 1983) and measurements, color readings, observations of inclusions and\r\nsurface treatments, and other observed details made by Smith during the week of\r\nFebruary 24-28, 2020 at The Ringling Museum of Art.</p><p>Provenance: Excavated by James R. B. Stewart in 1961,\r\nUniversity of Sydney; donated by Eve Stewart to Florida State University 1973;\r\ndonated by Florida State University 1973; 1974 accessioned by The John and\r\nMable Ringling Museum of Art. SN74.11</p><p>Classified\r\nin Webb et al. 2009 as Red Polished I.</p>                                                            1
<p>Acknowledgements: This entry was created by Smith using\r\ninformation in Webb et al. 2009 (which drew on a previous unpublished study by\r\nHerscher,&nbsp;which informed an exhibition, see catalogue: Kershaw ed. 1983) and measurements, color readings, observations of inclusions and\r\nsurface treatments, and other observed details made by Smith during the week of\r\nFebruary 24-28, 2020 at The Ringling Museum of Art.</p><p>Provenance: Excavated by James R. B. Stewart in 1961,\r\nUniversity of Sydney; donated by Eve Stewart to Florida State University 1973;\r\ndonated by Florida State University 1973; 1974 accessioned by The John and\r\nMable Ringling Museum of Art. SN74.10</p><p>Classified\r\nin Webb et al. 2009 as Red Polished II.</p>                                                           1
<p>Acknowledgements:\r\nThis entry was\r\ncreated by Smith using information in Webb et al. 2009 (which drew on a previous\r\nunpublished study by Herscher,&nbsp;which informed an exhibition, see catalogue: Kershaw ed. 1983) and measurements, color readings, observations of inclusions and surface treatments, and other observed details made by Smith during\r\nthe week of February 24-28, 2020 at The Ringling Museum of Art.</p><p>Provenance:&nbsp;Excavated\r\nby James R. B. Stewart in 1961, University of Sydney; donated by Eve Stewart to\r\nFlorida State University 1973; donated by Florida State University 1973; 1974\r\naccessioned by The John and Mable Ringling Museum of Art. SN74.2</p><p>Classified in Webb et al. 2009 as Red Polished I-II.</p>                                                        1
<p>Marbled skyphoi from Sardis typically come in the form of deep bowls with a conical foot and have vertical paint on the inside and outside (G&uuml;rtekin Demir 2007, 52).</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
Name: acknowledgement, Length: 1587, dtype: int64

In [53]:
# Can't do much with this column.
cols_to_drop.append('acknowledgement')
cols_to_drop

['shape_sub_group',
 'shape_rtype',
 'arch_context',
 'petrofab_visual_desc',
 'acknowledgement']

### Clean the old_shape_name column

In [54]:
df['old_shape_name'].value_counts().head(30)

Bowl                       1350
Jar                         944
Cooking pot                 622
Amphora                     533
Plate                       515
Bowl, small                 491
Jug                         389
Storage jar                 296
Krater                      247
Casserole                   184
Pitcher                     171
Lid                         145
Lamp                        139
Juglet                      125
Beaker                      113
Stand                       108
Cup                          97
Grinding bowl/mortarium      78
Casserole/caccab√©            67
Pithos                       64
Basin                        55
Tobacco pipe                 48
Flask                        47
Saucer                       45
Platter                      44
Bottle                       43
Unguentarium                 40
Dish                         40
Amphoriskos                  36
Cooking  pot                 35
Name: old_shape_name, dtype: int64

> We'll come back and work on condensing the labels here.

### Clean the has_petrography column

In [55]:
df['has_petrography'].value_counts()

False    11224
True      5493
Name: has_petrography, dtype: int64

> Nothing to do in this column.